#Main
SECRET_KEY=
BASE_URL=http://localhost
ENV=local #option: local/vercel

#Port
INDEX_PORT=8000
AUTH_PORT=8001
PRODUCT_PORT=8002
CUSTOMER_PORT=8003
SALE_PORT=8004
PAYMENT_GATEWAY_PORT=8005

#Database
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
ENABLE_DATABASE_AUTOMIGRATION=true

#Cloudinary
CLOUDINARY_FOLDER=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Smtp
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=

#midtrans
MIDTRANS_ENV=
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=